// menu-list
.menu-list {
    width: 224px;
    .menu-item {
        margin-left: 0px;
    }
}

.menu-popper {
    padding-bottom: 8px;
}
.menu-item {
    width: 100%;
    height: 46px;
    padding: 11px 16px;
    border-radius: 0;
    font-weight: 600;
    line-height: 1.8rem;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    &.separate{
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
}
//header
.header {
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    margin-top: -8px;
}
.back-btn {
    font-size: 1.5rem;
    margin-left: 2px;
    padding: 20px;
    background-color: transparent;
    cursor: pointer;
}
.header-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
